pipeline/Download BCDA.json
{
	"name": "Download BCDA",
	"properties": {
		"activities": [
			{
				"name": "Get Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"accept": "application/json"
					},
					"url": "https://sandbox.bcda.cms.gov/auth/token",
					"authentication": {
						"type": "Basic",
						"username": "e75679c2-1b58-4cf5-8664-d3706de8caf5",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "CMSSecrets",
								"type": "LinkedServiceReference"
							},
							"secretName": "cms-adv-secret"
						}
					}
				}
			},
			{
				"name": "Start Job",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"accept": "application/fhir+json",
						"Prefer": "respond-async",
						"Authorization": {
							"value": "@concat('Bearer ',activity('Get Token').output.access_token)",
							"type": "Expression"
						}
					},
					"url": "https://sandbox.bcda.cms.gov/api/v2/Group/all/$export"
				}
			},
			{
				"name": "Wait for Job To Finish",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Start Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(contains(activity('Get Job Complete').output,'Response'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Job Complete",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"accept": "application/fhir+json",
									"Authorization": {
										"value": "@concat('Bearer ', activity('Get Token').output.access_token)",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@activity('Start Job').output.ADFWebActivityResponseHeaders['Content-Location']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Test For Completion",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Job Complete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(activity('Get Job Complete').output,'Response')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delay 5 Seconds",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 5
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "FX Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Wait for Job To Finish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Job Complete').output.output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Write File From Website",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CMSBCDA_Download",
									"type": "DatasetReference",
									"parameters": {
										"URL": {
											"value": "@item().url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FileDump",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().type,'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"filetype": {
				"type": "String"
			},
			"fileurl": {
				"type": "String"
			}
		},
		"annotations": []
	}
}