pipeline/US Government Data Catalog.json
{
	"name": "US Government Data Catalog",
	"properties": {
		"description": "This is pipeline to read the harvest file to find one dataset.",
		"activities": [
			{
				"name": "Get Catalog",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@pipeline().parameters.CatalogURL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get dataset by identifier",
				"description": "This looks for the dataset that has the identifier passed in as string",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Catalog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Catalog').output.dataset",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals( item().identifier,pipeline().parameters.DataSetIdentifier)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetDistributions",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get dataset by identifier').output.Value[0].distribution",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(if(contains(item(),'mediaType'),item().mediaType,''), pipeline().parameters.MediaTypeFilter)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FX File In List",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetDistributions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetDistributions').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Pipe Download CMS File",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Download CMS File",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileDistribution": {
										"value": "@item()",
										"type": "Expression"
									},
									"RootFolder": {
										"value": "@pipeline().parameters.RootFolder",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Write Metadata",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get dataset by identifier",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"CatalogURL": {
				"type": "string",
				"defaultValue": "https://data.cms.gov/data.json"
			},
			"DataSetIdentifier": {
				"type": "string",
				"defaultValue": "https://data.cms.gov/data-api/v1/dataset/9767cb68-8ea9-4f0b-8179-9431abc89f11/data-viewer"
			},
			"MediaTypeFilter": {
				"type": "string",
				"defaultValue": "text/csv"
			},
			"RootFolder": {
				"type": "string",
				"defaultValue": "Government"
			},
			"DepartmentFolder": {
				"type": "string",
				"defaultValue": "CMS"
			},
			"MetaDataFileName": {
				"type": "string",
				"defaultValue": "data.json"
			}
		},
		"variables": {
			"TestData": {
				"type": "String"
			},
			"Test": {
				"type": "String"
			},
			"ModifiedDate": {
				"type": "String"
			},
			"FileURL": {
				"type": "String"
			},
			"FileTitle": {
				"type": "String"
			},
			"FileTemporal": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-01T21:46:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}